

body {
  background-color: var(--body-background-color) !important;
  font-family: var(--font-family) !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.nav-logo {
  background-image: var(--logo-url);
  width: 84px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.qic-container {
  max-width: var(--page-container-width);
  margin: 0 auto;
  padding: 0 64px;
}

@media (max-width: 768px) {
  .qic-container {
    padding: 0 18px;
  }
}

.qic-nav-bar {
  background: var(--nav-bar-background-color);
  z-index: 999;
  position: sticky;
  top: 0
}

body .text-primary {
  color: var(--primary-color) !important;
}
body .text-success {
  color: var(--success-color) !important;
}
body .text-secondary {
  color: var(--secondary-color) !important;
}
body .text-danger {
  color: var(--danger-color) !important;
}
body .bg-primary {
  background-color: var(--primary-color) !important;
}
body .bg-secondary {
  background-color: var(--secondary-color) !important;
}
body .bg-success {
  background-color: var(--success-color) !important;
}
body .bg-blue-transparent {
  background-color: #D9E4F1 !important;
}
body .border-default {
  border-color: var(--default-border-color) !important;
}
.qic-tab-links {
  height: 36px;
  width: 100%;
  display: flex;
  gap: 24px;
  overflow-x: auto;
}
.qic-tab-links a {
  height: fit-content
}

body .table>thead tr th {
  background-color: #F3F5F5;
  font-size: 14px;
  padding: 16px 24px;
  text-wrap: nowrap;
}
body .table>tbody tr td {
  font-size: 16px;
  padding: 24px;
  font-weight: 500;
}
html,
body {
  scrollbar-width: thin !important;
  color: var(--main-text-color) !important;
}

body a {
  text-decoration: none;
  color: var(--main-text-color);
  position: relative;
  text-wrap: nowrap
}

a.nav-item-link:hover:before,
a.nav-item-link.active-link:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 2px;
  width: 100%;
  background: var(--primary-color) 
}

a.animated-link-with-arrow .bi {
  transition: .3s
}

.animated-link-with-arrow {
  color: black;
}
a.animated-link-with-arrow:not(.button-secondary):hover {
  color: var(--primary-color)
}

a.animated-link-with-arrow:not(.button-secondary):hover .bi {
  transform: translate(15px)
}
button {
	border-radius: var(--default-border-radius) !important;
	border: 0;
}
.button-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 40px;
  background-color: var(--primary-color);
  color: var(--primary-button-text-color);
  border-radius: var(--default-border-radius);
}

.button-primary:hover {
  filter: brightness(.9)
}

.button-secondary {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 40px;
  background-color: var(--secondary-color);
  color: var(--primary-button-text-color);
  border-radius: var(--default-border-radius);

}

.button-secondary:hover {
  filter: brightness(.9)
}

.button-outlined {
  background-color: transparent;
  border: 1px solid black;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: var(--default-border-radius);
}

.button-outlined:hover {
  border-color: var(--primary-color) !important;
  color: var(--primary-color) !important
}

.button-success {
  text-align: center;
  color: var(--success-color);
  background-color: #ebf8e7;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: var(--default-border-radius);
}
.qic-icon-bg-circle {
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body ul {
  padding: 0;
  margin: 0;
  list-style: none
}

body p {
  margin: 0
}

.dropdown-toggle:after {
  color: var(--primary-color)
}

.dropdown-menu {
  border-radius: var(--default-border-radius) !important;
  padding: 0 !important;
}

.dropdown-menu.fixed-top {
  margin-top: 80px
}

.fs-7 {
  font-size: 14px !important
}

.fs-8 {
  font-size: 12px !important
}

.text-primary {
  color: var(--primary-color) !important
}

.text-success {
  color: var(--success-color) !important
}

i.bi {
  color: var(--main-text-color) 
}

i.bi.color-secondary,
i.bi.color-secondary:hover {
  color: var(--secondary-color)
}

i.bi:hover {
  color: var(--primary-color)
}

.input-group-text {
	border-radius: var(--default-border-radius) !important;
}
.qic-card-container {
  border-radius: var(--default-border-radius);
  background-color: white;
  padding: 40px;
}
.qic-card-small-container {
  border-radius: var(--default-border-radius);
  background-color: white;
  padding: 24px;
}
@media (max-width: 576px) {
  .qic-card-container,
  .qic-card-small-container {
    padding: 16px;
  }
}

.qic-nav-bar nav {
  padding-top: 20px;
  padding-bottom: 20px
}

.qic-nav-bar nav .qic-logo {
  height: 24px
}

.qic-nav-bar .mock-box {
  width: 40px;
  height: 40px;
  background-color: #f3f5f5;
  border-radius: var(--default-border-radius);
}

.qic-nav-bar .mock-item {
  border-radius: var(--default-border-radius);
  color: black;
}
.qic-nav-bar .mock-item:hover {
  background-color: #f3f5f5
}

.qic-nav-bar .mock-item:hover .mock-box {
  background-color: #fff
}

.qic-nav-bar .main-nav-menu {
  max-height: 456px
}
.nav-shop-link {
  border-radius: 0 var(--default-border-radius) var(--default-border-radius) 0;
}
.nav-points-count {
  border-radius: var(--default-border-radius) 0 0  var(--default-border-radius);

}
.qic-nav-bar .about-program-block {
  margin-top: 16px;
  width: 365px;
  height: 216px;
  background-image: var(--nav-support-background-image-url);
  transition: .3s;
  border-radius: var(--default-border-radius);
  color: var(--about-program-block-text-color);
}

 .qic-nav-bar .about-program-block span {
  color: var(--about-program-block-text-color) !important;
}

.qic-nav-bar .about-program-block .bi {
  transition: .3s
}

.qic-header-banner {
  background-image: var(--check-in-background-image-url);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: var(--default-border-radius);
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
@media (max-width: 992px) {
  .qic-header-banner {
    padding: 16px;
    flex-direction: column;
  }
}

input.form-control {
  border: 1px solid var(--default-border-color);
  height: 40px;
  background: #f7f5f7;
  border-radius: var(--default-border-radius);
}
select.form-select {
  border: 1px solid var(--default-border-color);
  background-color: #f7f5f7;
  border-radius: var(--default-border-radius);
  cursor: pointer;
}
.form-control:focus, .form-select:focus, .form-check-input:focus {
	border-color: var(--primary-color) !important;
	box-shadow: none !important;
}
.form-check-input[type=checkbox] {
  width: 32px;
  height: 32px;
  box-shadow: none !important;
  border-radius: var(--default-border-radius) !important;
  background-size: 85%;
}
.form-check-input:checked {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
  cursor: pointer;
}

.qic-footer {

}
.qic-footer-baner {
  background: var(--login-footer-background-image-url) center center/cover no-repeat, #F3F5F5;
  padding: 124px 0
}
.qic-footer-content {
  background-color: var(--secondary-color);
  padding: 54px 0;
}
.qic-footer-logo {
  width: 84px;
}
.qic-footer-secondary-text {
  color: rgba(241, 241, 241, 0.72);
  font-size: 12px;
}
.qic-footer-bottom {
  border-top: 2px solid #e2e2e2;
}
.qic-footer-newsletter {
  max-width: 400px;
  border-radius: var(--default-border-radius);
}
@media (max-width: 576px) {
  .qic-footer-baner {
    padding: 72px 0
  }
  .qic-footer-content {
    padding: 46px 0;
  }
}
